@{
    var categories = (List<BDS.Model.Category>)ViewBag.categories;
    var provinces=(List<BDS.Model.Province>)ViewBag.provinces;
    var priceTypes = (List<BDS.Model.PriceType>)ViewBag.priceTypes;
    var ListNews = (List<BDS.Model.News>)ViewBag.ListNews;
    var ListNewsHot = (List<BDS.Model.News>)ViewBag.ListNewsHot;
    var ListFurniture = (List<BDS.Model.Furniture>)ViewBag.ListFurniture;
    var ListFengShui = (List<BDS.Model.FengShui>)ViewBag.ListFengShui;
    var ListProject = (List<BDS.Models.ProjectViewModel>)ViewBag.ListProject;
    var ListProjectNew = (List<BDS.Model.Project>)ViewBag.ListProjectNew;
    var ListProjectHot = (List<BDS.Model.Project>)ViewBag.ListProjectHot;
}

<div id="homepage" class="page-body mt15">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-medium lib-grid-15 uk-flex-right">
            <div class="uk-width-large-2-10 mb15">
                <aside class="aside">
                    <section class="aside-panel uk-visible-large news-box-01">
                        <header class="panel-head">
                            <h2 class="heading">
                                <span>Bất động sản mới</span>
                            </h2>
                        </header>
                        <section class="panel-body">
                            <ul class="uk-list list-tin-tuc">
                                @if (ListProjectNew.Count() > 0)
                                {
                                    foreach (var item in ListProjectNew)
                                    {
                                        <li class="box-list element">
                                            <div class="item uk-flex lib-grid-10 mb10">
                                                <div class="thumb">
                                                    <a class="image img-cover" href="/du-an/chi-tiet/@item.Url/@item.Id">
                                                        <img src="@item.Image" alt="@item.Name">
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <div class="title_bl mb5">
                                                        <a href="/du-an/chi-tiet/@item.Url/@item.Id" title="@item.Name">@item.Name</a>
                                                    </div>
                                                    <div class="time_create">@item.CreateDate.Value.ToString("MM/dd/yyyy")</div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </li>
                                    }
                                }
                                    </ul>
                            <div class="paging"></div>
                            <style>
                                .paging span.current, .paging span.current {
                                    background-color: #000000 !important;
                                }

                                .paging a, .paging span.current {
                                    padding: 5px;
                                    margin-left: 3px;
                                    line-height: 20px;
                                    border: none;
                                    background-color: #0774b9;
                                    font-size: 11px;
                                    color: #ffffff;
                                    text-align: center;
                                    margin-bottom: 5px;
                                }

                                .disabled {
                                    display: none;
                                }
                            </style>
                        </section>
                    </section>
                    <!-- Quản cáo -->
                    <section class="aside-gallery uk-visible-large mt15">
                        <section class="panel-body home-branch">
                            <section class="panel-body uk-grid lib-grid-20">
                                @if (ListProjectHot.Count() > 0)
                                {
                                    foreach (var item in ListProjectHot)
                                    {
                                             <div class="adversite-item uk-width-1-1 mb5">
                                    <a href="/du-an/chi-tiet/@item.Url/@item.Id" title="@item.Name" class="img-cover">
                                        <img src="@item.Image" alt="@item.Name" />
                                    </a>
                                </div>                             
                                    }
                                }
                           
                            </section>
                        </section>
                    </section>
                    <!-- END Quảng cáo -->
                </aside>
            </div>
            <div class="uk-width-large-5-10 mb15">
                <div class="uk-grid lib-grid-15">
                    <div class="uk-width-large-1-1 mb15">
                        <section class="home-articles">
                            <section class="panel-body">
                                <div class="uk-slidenav-position slider-2" data-uk-slider="{autoplay: true, autoplayInterval: 3500}">
                                    <div class="uk-slider-container">
                                        <ul class="uk-slider uk-grid lib-grid-15 uk-grid-width-1-1 list-articles" style="height: 385px">
                                            @if (ListProjectHot.Count() > 0)
                                            {
                                                foreach (var item in ListProjectHot)
                                                {
                                                    <li>
                                                        <div class="articles-home">
                                                            <div class="thumb" style="height:385px ">
                                                                <a class="img-cover" href="/du-an/chi-tiet/@item.Url/@item.Id" title="@item.Name">
                                                                    <img src="@item.Image" alt="@item.Name">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }

                                                </ul>
                                        <a href="" class="uk-slidene uk-slidenav-contrast" data-uk-slider-item="previous">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                        <a href="" class="uk-slidepr uk-slidenav-contrast" data-uk-slider-item="next">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </section>

                    </div>

                    <div class="uk-width-large-1-2 mb15">
                        <section class="home-articles">
                            <header class="heading-page">
                                <a href="tin-tuc-bat-dong-san.html">Tin tức bất động sản</a>
                            </header>
                            <section class="panel-body">
                                <div class="uk-slidenav-position slider-2" data-uk-slider="{autoplay: true, autoplayInterval: 5500}">
                                    <div class="uk-slider-container">
                                        <ul class="uk-slider uk-grid lib-grid-15 uk-grid-width-1-1 list-articles">
                                            @if (ListNewsHot.Count() > 0)
                                            {
                                                foreach (var item in ListNewsHot)
                                                {
                                                    <li>
                                                        <div class="articles-home">
                                                            <div class="thumb">
                                                                <a class="img-cover" href="/tin-tuc/chi-tiet/@item.Url/@item.Id" title="@item.Name">
                                                                    <img src="@item.Image" alt="@item.Name">
                                                                    <div class="info">
                                                                        <div class="title">
                                                                            @item.Name
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                                </ul>
                                        <a href="" class="uk-slidene uk-slidenav-contrast" data-uk-slider-item="previous">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                        <a href="" class="uk-slidepr uk-slidenav-contrast" data-uk-slider-item="next">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </section>
                    </div>

                    <div class="uk-width-large-1-2 mb15">
                        <section class="home-articles">
                            <header class="heading-page">
                                <a href="du-an-bat-dong-san-noi-bat.html">Nội - ngoại thất</a>
                            </header>
                            <section class="panel-body">
                                <div class="uk-slidenav-position slider-2" data-uk-slider="{autoplay: true, autoplayInterval: 4500}">
                                    <div class="uk-slider-container">
                                        <ul class="uk-slider uk-grid lib-grid-15 uk-grid-width-1-1 list-articles">
                                            @if (ListFurniture.Count() > 0)
                                            {
                                                foreach (var item in ListFurniture)
                                                {
                                                    <li>
                                                        <div class="articles-home">
                                                            <div class="thumb">
                                                                <a class="img-cover" href="/noi-ngoai-that/chi-tiet/@item.Url/@item.Name" title="@item.Name">
                                                                    <img src="@item.Image" alt=" @item.Name">
                                                                    <div class="info">
                                                                        <div class="title">
                                                                            @item.Name
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    }
                                                } 
                                                </ul>
                                        <a href="" class="uk-slidene uk-slidenav-contrast" data-uk-slider-item="previous">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                        <a href="" class="uk-slidepr uk-slidenav-contrast" data-uk-slider-item="next">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </section>
                    </div>

                </div>



                <!-- Quản cáo -->
                <!-- END Quảng cáo -->

                <div class="dv-ct-detail">
                    <h1>Mua bán nhà đất, cho thuê nhà đất, thông tin nhà đất, bất động sản</h1>
                </div>
                <section class="homepage-projects-small mb15 Vip">
                    <header class="panel-head">
                        <h3 class="heading uk-flex uk-flex-middle uk-flex-space-between">
                            <a class="uk-text-uppercase" title="Tin Vip">Dự án nổi bật</a>
                        </h3>
                    </header>
                    <section class="panel-body box-padding-background">
                        <ul class="uk-grid lib-grid-0 uk-grid-width-1-1 list-projects">
                            @if (ListProject.Count() > 0)
                            {
                                foreach (var item in ListProject)
                                {
                                    <li>
                                        <div class="projects uk-flex lib-grid-10 Vip2">
                                            <i class="i-bds-cc-1"></i>
                                            <div class="thumb">
                                                <a class="image img-cover" href="/du-an/chi-tiet/@item.Url/@item.Id" title="@item.Name">
                                                    <img src="@item.Image" alt="@item.Name" />
                                                </a>
                                            </div>
                                            <div class="infor">
                                                <h4 class="title">
                                                    <img src="/uploads/new-icon.gif" alt="gif" style="width: 22px"> 
                                                    <a href="/du-an/chi-tiet/@item.Url/@item.Id" title="@item.Name" style="color: rgb(255, 114, 0) !important;"> @item.Name
</a>
                                                </h4>
                                                <div class="time_create">
                                                    @item.CreateDate.Value.ToString("MM/dd/yyyy")
                                                </div>
                                                <div class="projects_desc">
                                                    @item.Description
                                                    <a href="/du-an/chi-tiet/@item.Url/@item.Id" title="Xem tiếp">Xem tiếp</a>
                                                </div>

                                                <div class="uk-flex uk-flex-space-between lib-grid-10 uk-flex-middle list-item-projects">
                                                    <div class="price_projects blue">
                                                        Giá: <span class="red">@item.Price @item.PriceTypeName</span>
                                                    </div>
                                                    <div class="area_projects blue">
                                                        - <span class="red">@item.Acreage</span> m²
                                                    </div>
                                                    <div class="area_projects blue">
                                                        - <span>
                                                            @item.CategoryName
                                                        </span>
                                                    </div>
                                                    <div class="place_projects blue">
                                                        - <span>
                                                            @item.AddressDetail
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .product -->
                                    </li>
                                }
                            }
                                </ul>
                    </section><!-- .panel-body -->
                </section><!-- .top-content -->
            </div>
            <div class="uk-width-large-3-10 mb15">
                <aside class="aside">
                    <script>
                        var cityid = 0;
                        var districtid = 0;
                        var wardid = 0;
                        var projectid = 0;
                    </script>
                    <div class="form-search mb15">
                        <ul class="tabs1 uk-flex-center uk-flex uk-list">
                            <li id="sale" class="togle-type active">Tìm kiếm nhanh</li>
                        </ul>
                        <div class="panel-body">
                            <form asp-action="Search" asp-controller="Project" method="get" accept-charset="utf-8">
                                <div class="line-item mb10">
                                    <input type="text" name="keyword" value="" placeholder="Nhập tên dự án, vd: Mỹ đình, Topaz Garden" class="text uk-width-1-1" />
                                </div>
                                <div class="line-item mb10">
                                    <select name="categoryId" class="text uk-width-1-1">
                                        <option value="">Tất cả</option>
                                        @if (categories.Count() > 0)
                                        {
                                            foreach (var item in categories)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            } 
                                        }
                                    </select>
                                </div>
                                <div class="line-item mb10">
                                    <select name="provinceId" id="province" class="text uk-width-1-1 location">
                                        <option value="0" selected="selected">[Chọn Tỉnh/Thành phố]</option>
                                        @if (provinces.Count() > 0)
                                        {
                                            foreach (var item in provinces)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="line-item mb10">
                                    <select name="districtId" class="text uk-width-1-1 location" id="district">
                                        <option value="0" selected="selected">[Chọn Quận/Huyện]</option>
                                    </select>
                                </div>
                                <div class="line-item mb10">
                                    <select name="wardId" class="text uk-width-1-1 location" id="ward">
                                        <option value="0" selected="selected">[Chọn Xã/Phường]</option>
                                    </select>
                                </div>
                                <div class="uk-flex uk-flex-middle lib-grid-10">
                                    <div class="line-item mb10 uk-width-1-1">
                                        <input type="text" name="fromPrice" value=""
                                               placeholder="Giá tiền từ ..." class="text uk-width-1-1 input-text">
                                    </div>
                                    <div class="line-item mb10 uk-width-1-1">
                                        <select name="fromPriceType" class="text uk-width-1-1 changetype">
                                            <option value="0">Giá tiền</option>
                                            @if (priceTypes.Count() > 0)
                                            {
                                                foreach (var item in priceTypes)
                                                {
                                                    <option value="@item.Id">@item.Name</option>

                                                }
                                            }                                               
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-flex uk-flex-middle lib-grid-10">
                                    <div class="line-item mb10 uk-width-1-1">
                                        <input type="text" name="toPrice" value=""
                                               placeholder="Đến ..." class="text uk-width-1-1 input-text">
                                    </div>
                                    <div class="line-item mb10 uk-width-1-1">
                                        <select name="toPriceType" class="text uk-width-1-1 changetype">
                                            <option value="0">Giá tiền</option>
                                            @if (priceTypes.Count() > 0)
                                            {
                                                foreach (var item in priceTypes)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                              }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-flex uk-flex-middle lib-grid-10">
                                    <div class="line-item mb10 uk-width-1-1">
                                        <input type="text" name="fromAcreage" value=""
                                               placeholder="Diện tích từ ..." class="text uk-width-1-1 input-text">
                                    </div>
                                    <div class="line-item mb10 uk-width-1-1">
                                        <input type="text" name="toAcreage" value=""
                                               placeholder="Diện tích đến ..." class="text uk-width-1-1 input-text">
                                    </div>
                                </div>
                                <div class="uk-flex uk-flex-middle lib-grid-10">
                                    <div class="line-item mb10 bg-submit uk-width-1-1">
                                        <button class="uk-width-1-1 btn-type-1" type="submit"> Tìm tất cả</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="video uk-visible-large mb15">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VswHarlC4gs"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="dv-boxhotline-r uk-visible-large uk-flex-middle uk-flex uk-flex-space-between">
                        <div class="dv-hl uk-flex-middle uk-flex uk-flex-left lib-grid-10">
                            <i class="ico-sty i-hotline"></i>
                            <label>Hotline</label>
                            <a title="Hotline trợ giúp trực tiếp"
                               href="tel: 02466.759.435 -  0948.242.555">02466.759.435 -  0948.242.555</a>
                        </div>
                        <div class="dv-sca uk-flex-middle uk-flex uk-flex-right">
                            <span>
                                <a href="skype: xiontungbatuoc?chat"
                                   title="Click để chat trực tuyến với bộ phận hỗ trợ">
                                    <i class="ico-sty i-yaho"></i>
                                </a>
                            </span>
                            <span>
                                <a rel="nofollow" target="_blank" href=""
                                   title="Hãy theo dõi chúng tôi trên Google +">
                                    <i class="ico-sty i-google"></i>
                                </a>
                            </span>
                            <span>
                                <a rel="nofollow" title="Hãy theo dõi chúng tôi trên facebook" target="_blank"
                                   href="https://www.facebook.com/Gamuda-Garden-N%C6%A1i-ng%C3%B4i-nh%C3%A0-l%C3%A0-t%E1%BB%95-%E1%BA%A5m-801984929967755/?ref=bookmarks%5C"><i class="ico-sty i-face"></i></a>
                            </span>
                        </div>
                    </div>


                    <section class="aside-gallery uk-visible-large mt15">
                        <section class="panel-body home-branch">
                            <section class="panel-body uk-grid lib-grid-20">
                                @if (ListProject.Count() > 0)
                                {
                                    foreach (var item in ListProject.OrderByDescending(x => x.CreateDate).Take(8).ToList())
                                    {
                                        <div class="adversite-item uk-width-1-1 mb5">
                                            <a href="/du-an/chi-tiet/@item.Url/@item.Id" title="@item.Name" class="img-cover">
                                                <img src="@item.Image" alt="@item.Name" />
                                            </a>
                                        </div>
                                    }
                                }

                                    </section>
                        </section>
                    </section>


                </aside>
                <script type="text/javascript" charset="utf-8">
                    $(document).ready(function () {
                        $("#province").on("change", function () {
                            var id = $("#province").val();
                            $.ajax({
                                url: "/get-district",
                                type: "GET",
                                data: { id: id },
                                success: function (result) {
                                    $("#district").html($('<option/>', { value: 0, text: '[Chọn Quận/Huyện]' }));
                                    $("#ward").html($('<option/>', { value: 0, text: '[Chọn Xã/Phường]' }));
                                    $.each(result, function (i, item) {
                                        $("#district").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                                    });
                                },
                                error: function (e) {
                                    alert(e);
                                }
                            });
                        });

                        $("#district").on("change", function () {
                            var id = $("#district").val();
                            $.ajax({
                                url: "/get-ward",
                                type: "GET",
                                data: { id: id },
                                success: function (result) {
                                    $("#ward").html($('<option/>', { value: 0, text: '[Chọn Xã/Phường]' }));
                                    $.each(result, function (i, item) {
                                        $("#ward").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                                    });
                                },
                                error: function (e) {
                                    alert(e);
                                }
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <section class="menu_link_bottom">
        <div class="uk-container uk-container-center">
            <div class="uk-grid lib-grid-20 uk-grid-width-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-5 list_menu_link mt20">
            </div>
        </div>
    </section>
</div>
